.chart-scroll {
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 0;
    .chart-scroll-bar {
        height: 100%;
        background: #f5f9fb;
    }
    .chart-scroll-carret {
        height: calc(100% - 4px);
        background: transparent;
        border: 2px #ddeaf3 solid;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

