
.chart-legend {
    width: 100%;
    margin: 2rem 0;
    --hidden-color: #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/

    .chart-legend-item {
        margin: 0 .3rem .5rem 0;
        padding: .2rem .6rem;
        border-radius: 1.2rem;
        height: 2rem;
        line-height: 2rem;
        display: inline-block;
        border: 1px solid #e2e4e3;
        position: relative;
        cursor: pointer;
        color: #fff;
        border-color: var(--active-color);
        background-color: var(--active-color);
        transition: background-color .2s;

        .text {
            margin-left: 1rem;
            padding: .2rem .6rem;
            color: #fff;
        }

        .icon {
            top: .45rem;
            left: .5rem;
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            background-color: transparent;
            border-radius: 50%;
            position: absolute;
        }

        .icon:after {
            content: "";
            display: block;
            width: .3rem;
            height: .6rem;
            margin-top: .3rem;
            margin-left: .5rem;
            border: solid #fff;
            border-width: 0 .15rem .15rem 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &.hidden {
            background-color: var(--hidden-color);
            .text {
                color: var(--active-color);
                margin: auto .5rem;
            }
            .icon:after {
                display: none;
            }
        }
    }
}

