
body {
    background-color: #fff;
    transition: background-color .2s;
}

.night-mode {
    color: #fff;
    background-color: #242f3e;

    .yetchart-Header {
        .chart-header {
            color: #fff;
        }

        .chart-header-state {
            cursor: pointer;
            color: #48AAF0;
        }
    }

    .yetchart-Tooltip {
        .chart-tooltip {
            background: #1c2533;
            border: 1px solid #335;
            box-shadow: 0 1px 5px #111;
            color: #fff;
        }
    }
    .chart-scroll{
        .chart-scroll-bar {
            background: #304259;
        }
        .chart-scroll-carret {
            border-color: #56626D;
            box-shadow: 0 0 1px 1px #333;
        }
    }
    .chart-legend {
        --hidden-color: #242f3e;
    }
    .chart-legend-item {
        // border-color: #344658;
        filter: opacity(80%) brightness(120%);
        text-shadow: 0 0 1px #000, 0 0 2rem #777;
    }
    canvas {
        filter: opacity(80%)  brightness(120%);
    }
    .hight-mode-trigger {
        background-color: #242f3e;
        border-color: #555;
        .tonight {
            display: none;
        }
        .today {
            display: inline;
        }
    }
}

.hight-mode-trigger {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #aaa;
    background-color: #fff;
    .today {
        display: none;
    }
    span {
        cursor: pointer;
        color: #108be3;
        font-size: 1.4em;
        line-height: 2.6em;
    }
}