@import 'legend.scss';
@import 'scroll.scss';
@import 'header.scss';
@import 'tooltip.scss';
@import 'night-mode.scss';

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}


$breakpoints: ("phone": 400px,
"phone-wide": 480px,
"phablet": 560px,
"tablet-small": 640px,
"tablet": 768px,
"tablet-wide": 1024px,
"desktop": 1248px,
"desktop-wide": 1440px,
"sm": 567px,
"md": 768px,
"lg": 992px,
"xl": 1200px);

$controls-borders: 1px solid #ccc;
$header-height: 5rem;
$header-height-mobile: 1rem;
$chart-controls-height: 2rem;



body {
    margin: 0 auto;
    max-width: 56em;
    padding: 0 0 1em 0;
    font-family: arial;
    -webkit-tap-highlight-color: transparent;
}

.header {
    border-bottom: solid 1px;
    border-color: #aaa;
    font-size: 0.8rem;
    line-height: 1rem;
    padding: .5rem 0 .5rem 3rem;
    margin-bottom: 2rem;
    p {
        margin: .2rem 0;
        padding: 0;
    }
}

.content {
    display: flex;
    flex-flow: wrap;
    margin: 0 0 1em;

    .chart {
        width: calc(50% - 2em);
        margin: 1em;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently*/
        .graph-container {
            height: 500px;
        }

        @include mq('tablet', 'max') {
            flex: 0 0 100%;
            margin: 1em 0;
        }
    }
}
