@import 'legend.scss';
@import 'scroll.scss';
@import 'night-mode.scss';

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}


$breakpoints: ("phone": 400px,
"phone-wide": 480px,
"phablet": 560px,
"tablet-small": 640px,
"tablet": 768px,
"tablet-wide": 1024px,
"desktop": 1248px,
"desktop-wide": 1440px,
"sm": 567px,
"md": 768px,
"lg": 992px,
"xl": 1200px);

$controls-borders: 1px solid #ccc;
$header-height: 5rem;
$header-height-mobile: 1rem;
$chart-controls-height: 2rem;



body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
    font-family: arial;
}

.content {
    display: flex;
    flex-flow: wrap;
    margin: 0 1em 1em;

    .chart {
        width: calc(50% - 2em);
        margin: 1em;
        .graph-container {
            height: 300px;
        }

        @include mq('tablet', 'max') {
            flex: 0 0 100%;
            margin: 1em 0;
        }
    }
}
