.yetchart-Tooltip {
    display: none;
    position: absolute;
    transition: left .1s;

    .chart-tooltip {
        background: #fff;
        border: 1px solid #eee;
        border-radius: 15px;
        padding: 10px 15px;
        box-shadow: 0 1px 5px #aaa;
        color: #000;

        .chart-tooltip-title {
            white-space: nowrap;
            margin: 0 0 10px;
            &:after {
                content: '';
                position: absolute;
                top: 17px;
                right: 20px;
                color: #D2D5D7;
                display: inline-block;
                border-right: 3px solid #D2D5D7;
                border-bottom: 3px solid #D2D5D7;
                width: 10px; height: 10px;
                transform: rotate(-45deg);
            }
        }

        .chart-tooltip-item {
            display: flex;
            justify-content: space-between;
        }

        .chart-tooltip-item-name {
            margin: 0 0 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .chart-tooltip-item-value {
            margin: 0 0 5px;
            cursor: pointer;
            color: var(--active-color);
            background: no-repeat;
            background-size: 24px;
            padding-left: 30px;
            font-weight: bold;
        }
        
    }

    &.active {
        display: block;
    }
}


.chart.zoom {
    .chart-tooltip-title:after {
        display: none;
    }
}